.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2F2;
    display: flex; 
    overflow: hidden;

    /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

/* и элемента с модификатором вида ключ-значение */

.logo{
    height: 32px;
    width: 183px;
}
.logo_place_header{
    position: absolute;
    top: 30px;
    left: 64px;
    z-index: 1;
}
.header__title{
    display: flex;
    width: 730px;
    font-size: 102px;
    font-weight: bold;
    align-self: center;
    margin-left: 64px;
    line-height: 96px;
}
.header__subtitle {
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 64px;
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.header__link {
    color: #2F80ED;
    text-decoration: none;
}
.header__main-illustration {
   position: absolute;
   width: 756px;
   height: 608px;
   right:0px;
   bottom:0px;
   z-index: 1;
}
.header__square-pic{
   position: absolute;
   height: 568px;
   width: 568px;
   background-color: #2f80ed;
   top: 64px;
   right: 0px;
}
.content{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.description{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.two-columns{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.two-columns__brief{
    color: #2f80ed;
    width: 175px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
}

.two-columns__main-text{
    width: 80%;
    min-width: 784px;
}

.two-columns__paragraph{
    margin-top: 30px;
    margin-bottom: 0px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}
.two-columns__span-accent{
    font-weight: bold;
}
.two-columns__paragraph :first-of-type{
    margin-top: 0px;
}

.digits{
    margin: auto;
    justify-content: center;
}

.section-title{
    margin-top: 100px;
    text-align: center;
    left: 60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
}

.section-subtitle{
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    left: 60%;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: normal;
}

.table{
    display: flex; 
    margin-bottom: 100px;
    width: 1100px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.table__cell{
    width: 250px;
    margin-top: 60px;
}

.table__heading{
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.table__text{
    margin-top: 20px;
    margin-bottom: 0px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}


.feinman{ 
    display: flex;
    flex-direction: column;
    position: relative;
    height: 790px;
    background-color: #f2f2f2;
    z-index: 1;
}

.feinman__title{
    margin-top: 100px;
    margin-bottom: 0px;
    align-self: center;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    width: 648px;
    font-weight: bold;
}

.feinman__subtitle{
    margin-top: 70px;
    align-self: center;
    text-align: center;
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    z-index: 1;
}

.feinman__link{
    position: absolute;
    top: 50%;
    right: 48px;
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

.feinman__illustration{
    position: absolute;
    height: 637px;
    width: 867px;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.kaufman{
    position: relative;
    flex-direction: column;
    background-color: #1F1F1F;
    display: flex;
    padding-top: 90px;
    padding-bottom: 90px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.kaufman__triangle{
    position: absolute;
    top: 0px;
    right: -210px;
    width: 877px;
    height: 877px;
}
.section-title_theme_dark{
    color:#f2f2f2;
    margin: 0 auto;
}

.section-subtitle_theme_dark{
    color: #f2f2f2;
}

.table_theme_dark{
    z-index: 1;
}

.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.footer{
    background-color: #1F1F1F;
    padding-top: 60px;
    padding-bottom: 40px;
    
}

.footer__columns{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    min-height: 350px;
}

.footer__column_content_copyright{
    flex-basis: 711px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
 }

.footer__author{
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    margin-bottom: 18px;
    margin-top: 18px;
}

.footer__column-heading{
    margin: auto;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.footer__column-link{
    line-height: 30px;
    font-size: 18px;
    font-style: normal;
    color: white;
    text-decoration: none;
}

.footer__column-links{
    margin-top: 20px;
    margin-bottom: 16px;
    padding: 0;
    list-style: none;
}
.footer__social-icon{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}